<div class="container cont">
  <div class="container mt-5">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="row rows p-2">
          <div class="col-11">
            <strong>
              <h4>
                S and S Technologies
              </h4>
            </strong>
          </div>
          <div class="col-1">
            <img src="https://img.icons8.com/pastel-glyph/24/000000/edit--v1.png"/>
          </div>
          
          <hr>
          <div class="row">
            <div class="col-md-5">
              <img src="https://img.icons8.com/material-rounded/24/000000/phone--v1.png"/> 1234567890
            </div>
            <div class="col-md-7">
              <img src="https://img.icons8.com/material-rounded/24/000000/mail.png"/> dummy@workindia.in
            </div>
            <br>
            <br>
            <div class="col-md-7">
              <img src="https://img.icons8.com/material-rounded/24/000000/shopping-bag.png"/> 27AAECE0186G1ZR
            </div>
          </div>
        </div>
        <div class="row rows mt-5">
          <div class="col-md-4 p-2 justify-content-center text-center">
            <b><h6>30 Dec 2019</h6></b>
            <p>Validity</p>
          </div>
          <div class="col-md-4 p-2 justify-content-center text-center">
            <h5>1/2</h5>
            <p>Live Jobs</p>
          </div>
          <div class="col-md-4 p-2 justify-content-center text-center">
            <h5>20/60</h5>
            <p>Responses</p>
          </div>
        </div>
        <div class="row rows mt-5">
          <div class="row p-2">
            <div class="col-1">
              <img src="https://img.icons8.com/fluent-systems-regular/24/000000/share.png"/>
            </div>
            <div class="col-11">
              <h5>
                Share this app
              </h5>
            </div>
          </div>
            <div class="row p-2">
              <div class="col-1">
                <img src="https://img.icons8.com/windows/24/000000/star--v1.png"/>
              </div>
              <div class="col-11">
                <h5>
                  Rate Us
                </h5>
              </div>
            </div>
             <div class="row p-2">
               <div class="col-1">
                <img src="https://img.icons8.com/ios-glyphs/24/000000/logout-rounded--v1.png"/>
               </div>
               <div class="col-11">
                <h5>
                  Sign Out
                </h5> 
               </div>
             </div>    
        </div>
        <div class="row rows footer mt-5">
          <div class="col-2">
            <img src="https://img.icons8.com/material-rounded/32/000000/shopping-bag.png"/>
            Home
          </div>
          <div class="col-3">
            <img src="https://img.icons8.com/ios-glyphs/32/000000/card-wallet.png"/>
            Recharge
          </div>
          <div class="col-3">
            <img src="https://img.icons8.com/ios-glyphs/32/000000/plus.png"/><br>
            Post Job
          </div>
          <div class="col-2">
            <img src="https://img.icons8.com/ios-filled/32/000000/info.png"/>
            Help
          </div>
          <div class="col-2">
            <img src="https://img.icons8.com/material-rounded/32/000000/guest-male.png"/>
            Profile
          </div>
        </div>
      </div>
      <div class="col-4"></div>
        
    </div>
    
  </div>
</div>
